 /* Extra-große Geräte (Desktops, ab 992px) */
 @media only screen and (min-width: 992px) {
    nav{
        position: relative;
    
    }
    
    nav ul{
        list-style: none;
        color: white;
        font-family: Mitr;
        font-size: 15px;
        display: flex;
    }
    
    nav li {
        margin: 40px;
        cursor: pointer;
        transition: all 0.5s;
    }

    nav li:hover{
        scale: 1.1;
        color: #05E3CF;
    }
    
    #index-welcometext{
        color: white;
        font-family: Oxygen;
        font-size: 80px;
    
    }
    #div-start{
        color: white;
        width: 40%;
        margin: 100px 0 200px 100px;
        height: fit-content;
        display: grid;
        /*background-color: grey;*/
    }
    #div-start span{
        margin: 0 0 0 0;
        font-family: Oxygen;
        font-size: 20px;
        opacity: 0.63;
        float: left;
    }
    #rightside{
        position: absolute;
        right: 0;
        top: 0;
        height: 110%;
    }
    #rightsidepic{
        height: 100%;
        position: relative;
        margin-top: 50px;
        
    }
    #slash-img{
        margin-top: 40px;
        float: left;
        width: 80px;
    }
    #socials{
        margin-top: 30%;
        display: flex;
        width: 60%;
        justify-content: space-around;
        align-items: right;
    }
    .social-imgs{
        transition: all 0.5s;
        width: 30px;
        height: 30px;
        opacity: 0.7;
    }
    .social-imgs:hover{
        opacity: 1;
        scale: 1.2;
        cursor: pointer;
    }
    #section1{
        width: 100%;
        margin-top: 15rem;
    }

  }
  